header {
    font-size: 20px;
    font-weight: bold;
}

body {
    background-color: turquoise;
}

p::first-letter {
    font-size: 1.5em;
}

ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}

#classes {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#movies {
    font-family: 'Times New Roman', Times, serif;
}

#movies a{
    text-decoration: none;

}

#movies dl{
    color: lemonchiffon;
}

#movies dl dd{
    color: olivedrab;
}

#movies a:hover {
    text-decoration: underline;
}

#neighbors {
    color: indigo;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#css-checker {
    width: 88px;
    height: 31px;
}